body, html {
	height: 100%;
	border: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
	position: relative;
}

#screen, #controls {
	width: 100%;
	display: block;
}

#screen {
	height: 70%;
}
#controls {
	height: 30%;
	background-color: #aaa;
	position: relative;
}

